*{
    padding: 0 auto;
    margin: 0 auto;
}

#contenedor{
    background-color: lightgray;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-top: 5%;
    padding: 5px;
}

#seccion1{
    float: left;
    inline-size: 60%;
    align-content: center;
}
#seccion2{
    float: right;
    inline-size: 40%;
}

#seccion1 input{
    width: 120px;
    float: right;
    margin-right: 1em;
}